<div class="loader"></div>
</body>
 <footer><p>Copyright© <%= new Date().getFullYear()%> <a target="_blank" href="https://www.techgrower.in">TechGrower</a></p></footer>
 
<script src="app.js"></script>