<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap" rel="stylesheet">
    
</head>
<div class="loader"></div>
<body>

    <form class="search" action="/" method="post">
        <input type="text" required name="city" placeholder="Enter your city" autocomplete="off">
        <button onclick="barposition()" action="submit">search</button>

 </form>

    